.gradient-background-sunrise {
    background-image: linear-gradient(#EE4E4E, #FFC700);
}

.zeyada-regular {
    font-family: "Zeyada", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;

}
  

li {
    list-style: none;
}

ol {
    padding: 0;
}

li > img {
    margin-right: 10px;
    border-radius: 50%;
}

.card {
    background-color: #FFF455;
} 

.coding-language-icon {
    color:#013d3796;
}

.carousel-text {
    text-align: left;
}

.carousel-item {
    add responsiveness to have the same image size
}

.hobbies {
    max-height: 90px;
}

.gradient-background-sunset {
    background-image: linear-gradient(#FFC700, #EE4E4E);
}
