/* 

Task: Interactive Quiz App
Create a simple Interactive Quiz App that allows users to answer questions and receive immediate feedback on their answers. This project will help you practice HTML, CSS, and JavaScript, focusing on how to use parameters and arguments in functions.

CSS Styling:

Style the quiz container, question, and answers to make it visually appealing.
Use Flexbox or Grid for layout if you want to practice advanced CSS techniques.
Add hover effects to buttons for better user experience. 

*/

body {
    background-color: orange;
}

#quizContainer {
    background-color: yellow;
}

#startQuiz {}

.question {}
.answer {}

#q1a {}
#q1b {}
#q1c {}
#q1d {}

#q2a {}
#q2b {}
#q2c {}
#q2d {}

#q3a {}
#q3b {}
#q3c {}
#q3d {}

#q4a {}
#q4b {}
#q4c {}
#q4d {}

#q5a {}
#q5b {}
#q5c {}
#q5d {}

