body {
  background-color: black;
}
#img {
  max-width: 90%;
  border: 5px solid white;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
  text-transform: uppercase;
}
div {
  text-align: center;
  color: antiquewhite;
  width: 50%;
  margin-left: 25%;
}
